In [74]:
from collections import OrderedDict
import numpy as np
import pandas as pd

def iter_prefixes(t, i): 
    "from longest to shortest"

    for j in reversed(range(i+1, len(t) + 1)):
        yield t[i:j]


def ms(t, s, i): 
    """the longest prefix of t[i:] that occurs in s"""
    for prefix in iter_prefixes(t, i): 
        #print s + ": " + prefix, 
        if prefix in s:
            #print "*"
            return len(prefix)
        #print
    return 0


def bwt(s):
    from collections import Counter
    s = s + "#" 
    A = np.array([list(s[i:] + s[:i]) for i in range(len(s))])
    As = np.vstack(sorted(A, key=tuple))
    CF = Counter(As[:, 0]) 
    S = sorted(CF)
    C = [0] * (len(CF) + 1)

    for i in range(len(S)):
        if i == 0:
            continue
        C[i] = C[i-1] + CF[S[i-1]]
    C[i+1] = len(s)
    return "".join(As[:, len(s) - 1]), "".join(S), "-".join(map(str, C)), As

def table1(t, s):
    a = pd.DataFrame(OrderedDict([('i', [-1] + range(len(t))),
                                  ('t_i', [''] + list(t)), 
                                  ('MS', [1] + map(lambda i: ms(t, s, i), range(len(t))))]))
    a['nzeros'] = [0] + (a[1:].MS.values - a[0:len(t)].MS.values + 1).tolist()
    a['ms'] = [''] + map(lambda i: "".join(['0'] * i) + '1', a.nzeros[1:])
    a['runs'] = [-1] + map(lambda s: int(s == '1'), a.ms[1:])
    return a

def table2(t, s):
    bwt_s, alp, C, sa = bwt(s)

    a = pd.DataFrame(OrderedDict([('i', range(len(s) + 1)), 
                                  ('s_i', list(s + "#")), 
                                  ('BWT', list(bwt_s)),
                                  ('SA', map(lambda i: len(s) - sa[i].tolist().index("#"), range(sa.shape[0]))),
                                  ('suff_SA', map(lambda i: "".join(sa[i][:sa[i].tolist().index("#")+1].tolist()), range(sa.shape[0])))
                                 ]))
    return a
    

t = 'ceededdbe'
s = 'cbeeeddba'
table2(t, s[::-1])

   i s_i BWT  SA     suff_SA
0  0   a   c   9           #
1  1   b   #   0  abddeeebc#
2  2   d   e   7         bc#
3  3   d   a   1   bddeeebc#
4  4   e   b   8          c#
5  5   e   b   2    ddeeebc#
6  6   e   d   3     deeebc#
7  7   b   e   6        ebc#
8  8   c   e   5       eebc#
9  9   #   d   4      eeebc#

In [66]:
table1(t, s)

   i t_i  MS  nzeros     ms  runs
0 -1       1       0           -1
1  0   c   1       1     01     0
2  1   e   3       3   0001     0
3  2   e   2       0      1     1
4  3   d   1       0      1     1
5  4   e   4       4  00001     0
6  5   d   3       0      1     1
7  6   d   2       0      1     1
8  7   b   2       1     01     0
9  8   e   1       0      1     1

In [67]:
table2(t, s)

   i s_i BWT  SA
0  0   c   a   9
1  1   b   b   8
2  2   e   d   7
3  3   e   c   1
4  4   e   #   0
5  5   d   d   6
6  6   d   e   5
7  7   b   e   4
8  8   a   e   3
9  9   #   b   2