In [3]:
import numpy as np
import pandas as pd


X = pd.read_pickle("Homo_sapiens.GRCh38.dna.chromosome.MT.ms.pkl")
X.describe()

,Mus_musculus.GRCm38.dna.chromosome.1,Mus_musculus.GRCm38.dna.chromosome.10,Mus_musculus.GRCm38.dna.chromosome.11
count,568.000000,568.000000,568.000000
mean,13.364437,13.059859,13.100352
std,1.712884,1.573572,1.695143
min,1.000000,1.000000,1.000000
25%,13.000000,12.000000,12.000000
50%,13.000000,13.000000,13.000000
75%,14.000000,14.000000,14.000000
max,18.000000,17.000000,19.000000

In [4]:
X.head()

,Mus_musculus.GRCm38.dna.chromosome.1,Mus_musculus.GRCm38.dna.chromosome.10,Mus_musculus.GRCm38.dna.chromosome.11
0,14,15,15
1,15,14,14
2,14,14,13
3,14,15,14
4,15,15,13

In [9]:
X['Mus_musculus.GRCm38.dna.chromosome.1'].dtype

dtype('uint32')